---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/index.css">

  <script src="https://kit.fontawesome.com/c72d3abc48.js" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <title>Fernando Bonfim</title>
</head>

<body>
  <div class="page_container">
    <header class="page_top">
      <div class="page_top--profile_picture">

      </div>

      <h1 class="page_title">Fernando Bonfim</h1>

      <div class="page_top--social_media">
        <a href="https://github.com/Quas1Dev" target="_blank" rel="norefferer nofollow noopener">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/fernando-bonfim-b3249624b/">
          <i class="fa fa-linkedin" aria-hidden="true" target="_blank" rel="norefferer nofollow noopener"></i>
        </a>
      </div>
    </header>

    <div class="page_body">
      <section class="page_body--section">
        <h2 class="section--subtitle">Projects</h2>
        <div class="section--carousel_hidder">
          <div class="section--carousel">
            {% for post in site.posts %}
            <div class="section--post">
              <h3 class="post--title">Project {{ forloop.index }} of {{ forloop.length }}:  {{
                post.title }}</h3>
              <div class="post_content">
                {{ post.content }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <button class="carousel_contollers carousel_prev">Prev</button>
        <button class="carousel_contollers carousel_next">Next</button>
      </section>

      <section class="page_body--section">
        <h2 class="section--subtitle">Technologies</h2>
        <div class="section--technologies">
          {% include technologies.html %}
        </div>
      </section>
      <!-- Contact section -->
      <section class="page_body--section">
        <h2 class="section--subtitle">Message me :)</h2>
        <form action="https://formspree.io/f/xzbqdkbq" method="post" class="contact_form" id="contact_form"">

          <label for=" name" class="contact_form--field_name">Name</label>
          <input type="text" name="name" class="contact_form--field">

          <label for="email" class="contact_form--field_name">E-mail</label>
          <input type="text" name="email" class="contact_form--field">

          <label for="message" class="contact_form--field_name">Message</label>
          <textarea id="message" name="message" rows="4" cols="50" class="contact_form--textarea"></textarea>

          <div class="g-recaptcha" style="margin-top: 16px; margin-bottom: 16px; display: block;"
            id="contact_form--ecaptcha" data-sitekey="6LduQkIkAAAAAMKnXhjG8waDi2dLv7fccQjeabUd"></div>

          <button class="contact_form--submmit">Send</button>
        </form>
        <span id="contact_form_status"></span>
      </section>
    </div>

    <footer class="page_footer">
      <span class="page_footer--signed">Built with <i class="fa fa-heart"></i> by Fernando Bonfim</span>
    </footer>
  </div>
  <script>

    // Handle submision to formspree
    var form = document.getElementById("contact_form");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("contact_form_status");
      var data = new FormData(event.target);

      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
          'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
  </script>
  <script>
    const carousel = document.querySelector('.section--carousel');
    const slides = Array.from(carousel.children);
    const carouselWidth = carousel.clientWidth;
    const prevButton = document.querySelector('.carousel_prev');
    const nextButton = document.querySelector('.carousel_next');

    let currentSlide = 0;
    slides[currentSlide].classList.add('active');

    prevButton.addEventListener('click', () => {
      console.log("Handling click")
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide - 1 + slides.length) % slides.length;
      slides[currentSlide].classList.add('active');
      move();
    });

    nextButton.addEventListener('click', () => {
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide + 1) % slides.length;
      slides[currentSlide].classList.add('active');
      move();
    });

    function move() {
      console.log("Moving by " + (currentSlide * carouselWidth))
      const amountToMove = currentSlide * carouselWidth;
      carousel.style.left = -amountToMove + "px";
    }

  </script>
</body>

</html>