* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #191919;
    --darkgray: #333F47;
    --lightgray: #7F8C9B;
    --white: #eeeeee;
    --red: red;
    --progress-bar-bg: #f0f0f0;
    --progress-bar-color: #F78E69;
    --progress-bar-gradient: linear-gradient(to right, var(--progress-bar-color), var(--darkgray));

    font-family: 'Itim', cursive;
    font-size: 25px;
    color: var(--white);
    background-color: var(--black);
}

.page_container {
    max-width: 1200px;

    padding: 32px;
    margin: auto;
}

.page_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -140px;
    background: var(--white);
    padding-top: 10px;
}

.page_top--profile_picture {
    width: 123px;
    height: 123px;
    background-color: var(--darkgray);
    background-image: url("../images/profile-pic.jpg");
    background-size: cover;
    background-position: center;

    border-radius: 50%;
}

.page_title {
    font-size: 1rem;

    margin-top: 18px;
}

.page_top--social_media {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.page_top--social_media a {
    color: var(--white);
}

.page_body {
    margin-top: 26px;
    padding: 36px;
    background-color: var(--darkgray);
}

.page_body--section {
    margin-top: 50px;
}

.page_body--section:first-child {
    margin-top: 90px;
    overflow: hidden;
}

.section--subtitle {
    font-size: 0.98rem;
}

.section--carousel {
    position: relative;
    display: flex;

}

.section--post {
    min-width: 100%;
}

.carousel_contollers {
    cursor: pointer;

    width: 51px;
    height: 28px;

    background: var(--lightgray);
    color: var(--white);

    border: none;
}

.post--title {
    margin-top: 18px;
    margin-left: 5px;
    font-size: 0.85rem
}

.post_content {
    font-size: 0.74rem;
}

.post_content p {
    line-height: 1.5;
    margin: 10px 0;
}


.post_content a {
    text-decoration: underline;
    color: var(--white);
}

.section--technologies {
    margin: 19px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.my-progress__technology {
    flex-basis: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.my-progress__technology-icon {
    width: 45px;
    height: 50px;
    fill: white;
}

.my-progress__progress-bar-container {
    min-width: 200px;
    height: 15px;
    border-radius: 5px;
    margin-left: 12px;
    background-color: #f0f0f0;
}

.my-progress__progress-bar {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: var(--lightgray);
    background-image: linear-gradient(to right, #F78E69, #F0B07F, #F78E69);
    background-size: 200% 100%;
    background-position: left center;
    transition: all 0.4s ease-out;
}

.my-progress__technology[data-level="Advanced"] .my-progress__progress-bar {
    width: 90%;
    background-position: right center;
}

.my-progress__technology[data-level="Intermediate"] .my-progress__progress-bar {
    width: 60%;
    background-position: right center;
}

.my-progress__technology[data-level="Basic"] .my-progress__progress-bar {
    width: 40%;
    background-position: right center;
}

.page_footer {
    text-align: center;
}

.contact_form {
    max-width: 500px;
}

.contact_form--field_name {
    display: block;

    font-size: 0.80rem;

    margin-top: 8px;
}

.contact_form--field {
    display: block;
    max-width: 300px;
    height: 27px;

    background: var(--lightgray);

    margin-top: 5px;
    padding: 5px;

    border: none;
    border-radius: 5px;
}

.contact_form--textarea {
    display: block;
    width: 100%;
    height: 200px;

    border: none;
    background: var(--lightgray);

    margin-top: 5px;
    padding: 5px;

    border-radius: 5px;
}

.contact_form--submmit {
    width: 51px;
    height: 28px;

    background: var(--lightgray);
    color: var(--white);

    border: none;
}

.page_footer--signed {
    font-size: 0.7rem;
}

.page_footer--signed i {
    color: var(--red);
}